@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,300&display=swap');

body {
  
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
   background-color: #171616;
}

.header-conteine {
   
    opacity: 1;
    background-color: #171616;
    background-repeat: no-repeat;
    background-image: url(./img/agr\ vai.jpg);
    background-position-x: center;
    background-size: contain;
   
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 80px;
    min-width: 320px;
    height: 50vw;
    width: 100%;
   

}

img {
    width: 100%;
}

h1 {
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 4px;
}



h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.social-midia {
    margin-top: 1rem 4rem 0 0;
    display: flex;
    max-width: auto
    ;
}

.social-midia a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    display: flex;
    min-width: 4rem;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}

a:hover {
    background-color: rgb(112, 108, 110);
}

.checkbox-conteine {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;

}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 40px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 55px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/*menu*/
.menu {
    position: absolute;
    top: 40px;
    right: 30px;
    background-color: transparent;
    height: 4px;
    width: 10px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px rgb(0, 0, 0);
    z-index: -1;
    transition: 400ms ease-in-out 0s;

}

.menu-items {
    position: fixed;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: 400ms ease-in-out 0s;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 10px 0px;
    color: #bbbbbb;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 40px;
}

#toggle:checked+.checkbox .trace:nth-child(1) {
    transform: rotate(45deg);
    top: 47px;
}

#toggle:checked+.checkbox .trace:nth-child(2) {
    transform: translate(-100px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked+.checkbox .trace:nth-child(3) {
    transform: rotate(-45deg);
    top: 47px;
}

#toggle:checked+.checkbox {
    background-color: rgb(255, 255, 255);
}

#toggle:checked~.menu {
    box-shadow: 0px 0px 0px 100vmax #ffffff;
    z-index: 1;
}

#toggle:checked~.menu-items {
    visibility: visible;
    opacity: 1;
}

.conteine {
    height: 100%;
    width: 100%;
  
    flex-direction: column;
    justify-content: space-evenly;

    background-color: #171616;
    margin: auto;



}

.card-conteine {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    top: 80%;
}

.card {
    width: 300px;
    height: 300px;
    border-radius: 100%;
    margin: 3rem 0 0 0;
    display: flex;
    border: 1px solid #ffffff;
    align-items: center;
    justify-content: center;
    background-color: #018b23;
    background-image: url(./img/agr\ vai.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(0.5);
    color: #397a56;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    cursor: pointer;

}

.card-text {
    width: 50%;
    letter-spacing: 1px;

    color: #ffffff;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: center;
}

#rodd {
    font-size: 15px;
    padding: 30px;
    color: #f6f6f6;
    background-color: #1c2528;
    text-align: center;
    margin: auto;
    

}



.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    display: block;
    border: 1px solid #161515;
    opacity: 0;
    transition: 0, 9 ease-in-out;
}

.card-wrapper h3 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 10px;
    margin: 0;
    transition: 0.0s ease-in-out;
    color: rgb(255, 255, 255);
}

.card-wrapper p {

    font-size: 15;
    visibility: visible;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.10s ease-in-out;
}

.card:hover {
    filter: saturate();
}

.card:hover>.card-wrapper ::before {
    height: 250px;
    width: 250px;
    opacity: 1;

}

.card:hover>.card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 20px;
}

.roodape {
    width: 100%;
    height: 100%;
    font-size: 20px;
    color: #dc6363;
    text-align: center;
    background-color: #397a56;
    padding: 20px 20px;
}

@media screen and (max-width: 777px) {
    .conteine {
        background-color: #171616;
        flex-direction: column;
        justify-content: center;
         margin: 1rem;
        display: block;
     display: inline-block;
    }

}

@media screen and (min-width: 777px) {
    .card-text {
        color: rgb(255, 255, 255);
    }
}
@media screen and (max-width: 400px) {
    .card-text {
        display: none;
    }
}
@media screen and (max-width: 777px) {
    .card-text {
        display: none;
    }
}
@media screen and (min-width: 777px) {
    .projetosw {
        display: none;
    }
}
@media screen and (min-width: 777px) {
    .textopro {
        display: none;
    }
}
@media screen and (max-width: 777px) {
    .textopro {
        text-align: center;
        padding: 2px 2px;
        color: white;
        font-size: 20px;
  
    }
}
@media screen and (max-width: 777px) {
    .projetosw {
        font-size: 20px;
        text-align: center;
        color: #ffffff;
        padding: 1rem 0px 0px 0px ;
    
    }
}



@media screen and (max-width: 777px) {
    .header-conteine {
        background-image: url(./img/Design\ sem\ nome\ \(6\).png);  
       width: 100%;
    justify-content: center;
    align-items: flex-start;
     display: flex;
     height: 170vw;
     padding: auto;
     
     

    }
}
@media screen and (max-width: 777px) {
    .header  {
 height: 150vw;

    }}

@media screen and (max-width: 777px) {
    .conteine {
        
        background-color: #171616;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
        
        min-width: 320px;
        
        width: 100%;
        height: 200vw;
   
    }

       
       
       
}
@media screen and (max-width: 777px) {
    .card-conteine {
       
        text-align: center;
       padding: 0px 70px;
       
        
    }
}


@media screen and (max-width: 777px) {
    .social-midia {
        
        text-align: center;
        padding: 0px 10px 50px;
       
        justify-content: center;
       

    }
}
@media screen and (max-width: 630px) {
    .social-midia {
        
        text-align: center;
        padding: 0px 10px;
  
       
    

    }
}
@media screen and (max-width: 591px) {
    .social-midia a {
        
        text-align: center;
    
        height: auto;

        text-align: center;
        padding: 20px 40px;
       
       

    }
}

@media screen and (max-width: 600px) {
    .social-midia a {

        text-align: center;
        text-decoration: none;
        color: rgb(173, 213, 235);
        padding: 15px 35px;
        border: 1px solid #8eb8e2;
        display: flex;
        min-width: 25px;
        align-items: center;
        justify-content: center;
        transition: .2s ease-in-out;
       
    
       

    }
}

@media screen and (max-width: 470px) {
    .header-conteine {
        
        background-image: url(./img/agr\ vai\ mobile.jpg);
        height: 100%;
        width: 100%;
        opacity: 1;
        background-color:#171616;
        position: absolute;
        background-position-x: top;
        background-size: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        
     
        position: relative;
    }
}

@media screen and (max-width: 400px) {
    h2 {
        font-size: 10px;
       
      

        white-space: nowrap;
        text-align: center;
        color: #ffffff;
    }
}

@media screen and (max-width: 400px) {
    h1 {
        float: left;
        font-size: 15px;
        width: 100%;
        padding: 5% 5%;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
       
        
    }
}


@media screen and (max-width: 400px) {
    .roodape {

        color: #2a1f1f;
        text-align: center;
        background-color: #397a56;
        padding: 20px 20px;
    }
}

@media screen and (max-width: 1100px) {
    h1 {
        font-size: 25px;
    }
}

@media screen and (max-width: 1060px) {
    h1 {
        font-size: 25px;
    }
}
@media screen and (max-width: 1060px) {
    .header-conteine {
        height: 100vw;
    }
}

@media screen and (max-width: 500px) {
    h1 {
        float: left;
        font-size: 15px;
        width: 100%;
        padding: 5% 5%;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
    }
}

@media screen and (max-width: 777px) {
    h1 {
        float: left ;
        font-size: 15px;
        width: 100%;
        padding: 5px;
        background: border-box;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
  
    }
}

@media screen and (max-width: 777px) {
    h2 {
        float: left;
        font-size: 20px;
        width: 100%;
        padding: 0% 0%;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #1c95be;
        
        
    }
}

@media screen and (max-width: 500px) {
    h1 {
        
        font-size: 15px;
        width: 100%;
        padding: 5% 0;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #ffffff;
    }
}

@media screen and (max-width: 500px) {
    h2 {
        float: left;
        font-size: 15px;
        width: 100%;
        padding: 0% 0%;
        text-align: center;
        white-space: nowrap;
        justify-content: center;
        color: #1c95be;
        
        ;
    }
}
.rodd {
    padding: 10px;

}
